body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: hsl(213, 24%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(208, 36%, 23%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    background-color: hsl(213, 24%, 20%);
    color: white;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculateBtn {
    background-color: hsl(213, 24%, 60%);
}

.operatorBtn {
    background-color: hsl(39, 100%, 50%);
}

button:hover {
    background-color: hsl(208, 36%, 33%);
}

button:active {
    background-color: hsl(208, 36%, 43%);
}

.operatorBtn:hover {
    background-color: hsl(39, 100%, 65%);
}

.operatorBtn:active {
    background-color: hsl(39, 100%, 75%);
}